html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.Page {
  width: 100%;
  min-height: 100vh;
}
.Wrap {
  width: 100%;
  max-width: 720px;
  margin: auto;
}
.Title {
  font-size: 20px;
  color: #2b2d2f;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
}
.Button {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background-color: #00c126;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  cursor: pointer;
  transition: all 0.3s;
}
.Button:hover {
  opacity: 0.7;
}
.Block {
  margin: 50px 0 20px;
}
.Red {
  color: #e80001;
}
.Gray {
  color: #7a8287;
}
.Input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #c4c8cb;
  border-radius: 10px;
  color: #2b2d2f;
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box;
}
.TextArea {
  width: 100%;
  min-height: 230px;
  word-wrap: break-word;
  border: 1px solid #c4c8cb;
  border-radius: 10px;
  color: #2b2d2f;
  font-size: 17px;
  font-weight: 400;
  line-height: 165%;
  overflow-y: hidden;
  white-space: pre-wrap;
  padding: 10px 12px;
  box-sizing: border-box;
  resize: none;
}

/* Margin */
.MT-10 {
  margin-top: 10px;
}
.MT-20 {
  margin-top: 20px;
}
.MT-30 {
  margin-top: 30px;
}