.ChatRoom {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
.ChatRoomBody {
  flex: 1;
}
.ChatRoomInput {
  padding: 10px 20px;
  border-top: 1px solid #EDEDED;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.ChatRoomInput > input{
  font-size: 18px;
  border: none;
  flex: 1;
}
.ChatRoomInput > input:focus{

  outline: none;
}
.ChatRoomInput > button {
  margin-left: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00C126;
  color: #FFF;
}
