.ChatRoom {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}
.Wrap {
  width: 100%;
  max-width: 1000px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}
.ChatWrap {
  width: 100%;
  flex: 1;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.ChatWrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.User {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 80%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  align-self: flex-end;
  box-sizing: border-box;
}
.Ai {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  align-self: flex-start;
  box-sizing: border-box;
}
.ChatUser {
  padding: 10px 20px;
  background-color: #ececec;
  border-radius: 10px;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.AiImage {
  border: 1px solid #ededed;
  border-radius: 50px;
  width: 40px;
  margin-right: 20px;
}
.ChatAI {
  padding: 10px 20px;
  background-color: #d9f6de;
  border-radius: 10px;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.CounselBtn {
  width: 100%;
  padding: 20px 0;
  background-color: #00c126;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}
.MessageInputWrap {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 1px solid #00c126;
  margin-bottom: 30px;
  border-radius: 10px;
}
.MessageInput {
  flex: 1;
  padding: 10px 20px;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
}
.MessageInput:focus {
  outline: none;
}
.MessageBtn {
  padding: 10px 20px;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #00c126;
  color: #fff;
}

.Disabled {
  display: none;
}
.AILoading {
  position: absolute;
  top: 0;
  height: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}
.AILoadingText {
  font-size: 38px;
  font-weight: 800;
  color: #fff;
  animation: twinkle 2s infinite;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .Wrap {
    padding: 30px 20px;
  }
  .AiImage {
    margin-right: 10px;
  }
  .MessageInputWrap {
    margin-bottom: 10px;
  }
}
