.View_completed{
  width: 80%;
  margin: 0 auto;
}
.Ball{
  display: block;
  width: 32px;
  height: 32px;
  background-color:#D9D9D9;
  border-radius: 30px;
  margin-bottom: 10px;
}

.View_completed h2{
  color: #000;
  text-align: left;
  margin-top: 5px;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.75px;
}



/* 전화번호 */
.View_completed .Phone_number{
  display: table;
  width: 100%;
  text-wrap: nowrap;
}
.View_completed .Phone_number p {
  display: table-cell;
  width: 10%;
  
}
.View_completed .Phone_number input{
  display: table-cell;
  font-size: 20px;
  margin-left: 10px;
  
}

/* 문의내용 */
.Inquiry_details h4{
  color: #2B2D2F;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.Inquiry_details textarea{
  width: 100%;
  margin-top: -10px;
  resize: none;
  min-height: 331px;
  border-radius: 10px;
  border: 1px solid #CFCFCF;
}

.View_completed h5{
  color: #00C126;
text-align: center;
font-family: Pretendard;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.75px;
margin-top: 25px;
}

@media  (min-width: 1000px){
  .View_completed{
    width: 60%;
  }
    .Ball{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .View_completed h2{
    font-size: 32px;
    line-height: 32px;
  }
  .View_completed h4{
    font-size: 26px;
  }
  .Phone_number input , .Passwor input{
    font-size: 24px;
  }
 
  .Phone_number p img{
    max-width: 20px;
    margin-bottom: -2px;
    margin-right: 8px;
    
  }
   .Passwor p img{
    max-width: 22px;
 
  }
  .Phone_number input{
    font-size: 26px;
  }

  .View_completed h5{
    font-size: 30px;
    line-height: 40px;
  }
}

@media  (min-width: 1400px){
  .View_completed{
    width: 35%;
  }
}