.Header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c4c8cb;
}
.Logo {
  width: 170px;
  margin-right: 10px;
}
.HeaderWrap {
  width: 100%;
  max-width: 1180px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.HeaderLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Menu {
  margin-left: 30px;
}
.Menu > a {
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
  color: #2b2d2f;
  text-decoration: none;
  transition: all 0.3s;
}
.Menu > a:hover {
  opacity: 0.7;
}
.LoginBtn {
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
  color: #2b2d2f;
  text-decoration: none;
  transition: all 0.3s;
}
.LoginBtn:hover {
  opacity: 0.7;
}

.hamburger_icon,
.x_icon {
  display: none;
}
.Header .ProfileImg {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}
.Header .ProfileImg img {
  width: 100%;
}
.RightNav {
  position: relative;
}
.Header .UserControl {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  border: 1px solid #e2e4e5;
  border-radius: 10px;
  background-color: #fff;
}
.UserControlHead {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e4e5;
  font-size: 18px;
  font-weight: 700;
}
.Header .UserControlMenu {
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  border-bottom: 1px solid #ededed;
}

/* @media (max-width:650px) {
  .App .Header {
    width: 100%;
    position: relative;
    top: 0;
    height: 100%;
    background-color: #fff;
  }
  .HeaderWrap , .HeaderLeft ,.Menu  ,.Menu a , .LoginBtn{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    text-indent: 0;
    padding: 0;
  }
  .HeaderLeft{
    position: relative;
    display: block;
  }
  .Logo{
    position: absolute;
    top: 11px;
    left: 10px;
  }
  .hamburger_icon{
    display: block;
    position: absolute;
    right: 10px;
    width: 60px;
  }
  .x_icon{
    display: none;
    position: absolute;
    right: 10px;
    width: 60px;
    transition: all 0.3s;
  }
  .Menu {
    display: block;
    padding-top: 70px;
  }
  .LoginBtn{
    margin-bottom: 15px;
  }
} */
