.Inquiry{
  width: 80%;
  margin: 0 auto;
}
.Inquiry .Ball{
  display: block;
  width: 32px;
  height: 32px;
  background-color:#D9D9D9;
  border-radius: 30px;
}

.Inquiry h3{
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 118.182% */
  letter-spacing: -0.44px;
  margin-top: 5px;
}
.Inquiry h2{
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
  margin-top: 15px;
  margin-bottom: 30px;
}

/* 문의 조회 */
.Inquiry P button{
  width: 100%;
  margin: 0 auto;
}
.Inquiry_b button{
  min-height: 70px;
  border-radius: 12px;
  border: 0 solid #000;
  background: #00C126;
  color: #FFF;
text-align: center;
font-family: Pretendard;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.75px;
}
.Check_b button {
  min-height: 70px;
  border: 0px solid #000;
  border-radius: 12px;
  background: #F0F0F0;
  color: #000;
text-align: center;
font-family: Pretendard;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.75px;
}

/* 전화번호 비번 입력 */
.Phone_number , .Passwor{
  margin-top: 45px;
  color: #2B2D2F;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  
}
.Inquiry .Phone_number, .Inquiry .Phone_number input{
  display: block;
  margin-left: 0;
}
.Phone_number p , .Passwor p{
  margin-bottom: 10px;
}

.Phone_number img , .Passwor img{
  max-width: 17px;
  margin-right: 5px;
  margin-left: 2px;
  
}
.Phone_number input , .Passwor input{
  width: 100%;
  color: #757575;
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
border: 0;
}
.Inquiry hr{
  margin-top: 10px;
  border-bottom: 1px solid #E2E4E5;
  background-color: #E2E4E5;
}

/* 문의내용 */


.Inquiry_details h4{
  color: #2B2D2F;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 50px;
  margin-bottom: 20px;
}
.Inquiry_details textarea{
  width: 100%;
  margin-top: -10px;
  resize: none;
  min-height: 331px;
  border-radius: 10px;
  border: 1px solid #CFCFCF;
}

/* 접수하기 */
.Apply_b{
  width: 100%;
 

}
.Apply_b button{
  color: #FFF;
  min-height: 70px;
  border-radius: 12px;
  background: #00C126;
  text-align: center;
  font-family: Pretendard;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.75px;
  border: 0;
  margin-top: 15px;
  margin-bottom: 40px;
}

@media  (min-width: 1200px){
  .Inquiry{
    width: 35%;
  }
    .Ball{
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .Inquiry h3{
    font-size: 30px;
    line-height: 32px;
  }
  .Inquiry h2{
    font-size: 36px;
  }
  .Phone_number , .Passwor{
    font-size: 26px;
    
  }
  .Phone_number input , .Passwor input{
    font-size: 24px;
  }
 
  .Phone_number p img{
    max-width: 20px;
    margin-bottom: -2px;
    margin-right: 8px;
    
  }
   .Passwor p img{
    max-width: 22px;
 
  }

  .Inquiry_details h4{
    font-size: 26px;
    line-height: 40px;
  }
}