.Page {
  width: 100%;
  min-height: calc(100vh - 500px);
  padding: 80px 0;
}
.Wrap {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}
.Head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 8px solid #ededed;
  padding: 30px 20px;
  box-sizing: border-box;
}
.Head img {
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
.Head p {
  font-size: 20px;
  font-weight: 800;
}
.Info {
  width: 100%;
  padding: 30px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}
.Info > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 18px;
}

.Info > div > p:first-child {
  font-weight: 500;
}
.Info > div > p:last-child {
  font-weight: 700;
}
.PhoneWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.PhoneWrap > p {
  padding: 7px 10px;
  margin-right: 10px;
  font-weight: 700;

}
.PhoneWrap > button {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00C126;
  color: #FFF;
}
.Input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Input > input {
  padding: 7px 10px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  margin-right: 10px;
}
.Input > button {
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00C126;
  color: #FFF;
}
.Title {
  font-size: 18px;
  font-weight: 600;
  color: #6f6f6f;
  margin-bottom: 30px;
}
.Service {
  width: 100%;
  padding: 30px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #ededed;
}
.Service > div {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}
.Service > div:hover {
  transition: all 0.3;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.Service > div > p:first-child {
  font-weight: 500;
}
.Service > div > p:last-child {
  font-weight: 700;
}
